.hhhs {
  width: 4rem;
}

img.hinh-anh-tram {
  /* height: 40rem; */
  width: 100%;
}
img.key {
  width: 2rem;
}

.key-left {
  width: fit-content
}

.key-right {
  width: 75%
}

.group-1 .two {
    margin: 3rem 0 3rem 0;
    transform: rotate(90deg);
}